body{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.navbar{
    top:0;
    position: fixed;
    width: 100vw;
    background-color: none;
    height: 60px;
    font-size: 1.3rem;
    z-index: 99999;
    color: white;
}

.navset{
    display:flex;
    justify-content: space-evenly;
    padding:20px;
}

.navset a{
    text-decoration: none;
    color:white;
    display: block;
    cursor: pointer;
    font-family: 'Merriweather', serif !important;
    font-size:2rem;
}

.navset a:hover{
    transform: scale(1.2);
}

.logo-btn a{
    font-family: 'Merriweather', serif !important;
    font-size: 4rem;
    margin-top: -10px;
}

.logo-btn a:hover{
    transform: scale(1.2);
}




.support-btn{
    bottom: 40px;
    right: 60px;
    position: fixed;
    background-color: aqua;
    z-index: 99999;

}

.support-btn-content{
    padding: 10px;
    
}

.support-btn-content h3{
   margin: 0;
    
}


/* common above */

.contribute-bgimg-section{
    width: 100%;
}

.contribute-bgimg img{
    position: relative;
    width: 100%;
    border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}   

.contribute-bgimg-text{
    width: 100vw;
    text-align: center;
    position: absolute;
    margin-top: -35vw;
}
.contribute-bgimg-text h1{
    font-size: 10vw;
    color: white;
}

.contribute-bgimg-text h2{
    font-size: 8vw;
    color: white;
}



/* Main section */

.contribute-main{
    margin-top: -4px;
   
}

.contribute-main .container{
    width: 100vw;
    
}

.contribute-main .container:nth-child(1){
    background-color: wheat;
}


.filterbox{
    padding: 40px;
    text-align: center;
}

.filterbox input{
    width: 70vw;
}

.filterfilter{
    display: flex;
    justify-content: space-evenly;
}

.filterfilter div{
    padding: 20px;
}
.filterfilter div select{
    height: 30px;
}

#contribute-list{
    padding: 50px;
    font-size: 3rem;
}

.select-product{
    background-color: gray;
    color: wheat;
    border-radius: 10px;
}


.product-list button{
    width:100%;
    padding-left: 20px;
    text-align: left;
    border: none;
    background-color: gray;
    color: wheat;
}


.ngoboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ngobox img{
    width: 350px;
    height: 200px;
    background-color: tomato;
    border: 0px;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
}

.ngobox{
    height: 400px;
    width: 350px;
    background-color: #18496a;
    margin: 50px 30px;
    border-radius: 15px;
    box-shadow: 3px 0 11px 0;
    text-align: center;
}

.ngobox ul{
    list-style-type: none ;
    padding: 0;
    font-size: 2rem;
    color: wheat;
}

.ngobox li{
    margin-left: 40px;

}

.ngobox:hover{
    box-shadow: 6px 0 22px 0;
}

.itemsNeededByEach{
    width: 250px;
    display:flex;
    justify-content: space-between;
}


.support-btn{
    bottom: 40px;
    right: 60px;
    position: fixed;
    background-color: #138b89;
    z-index: 99999;
    border-radius: 10px;

}

.support-btn-content{
    padding: 10px;
    
}

.support-btn-content h3{
   margin: 0;
    
}



/*footer*/


.footer{
    margin-bottom: 0;
    position: absolute;
    background-color: #18496a;
    width: 100%;
    color: rgb(141, 140, 138);
}

#footerElements{
    padding-top: 20px;
    text-align: center;
}

#innerfooter div{
    padding-bottom: 20px;
}


#logoAndOthers a{
    color: rgb(141, 140, 138);
    font-size: larger;
}

.cr p{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: wheat;
  
  }

